body{
    background-color:rgba(161, 180, 223, 0.27);
}

.imagemlogo{
    width: 400px; 
    height: 400px;  
}

#icone{
    background-color: #04153b;
}

#iconedentro{
    color:white;
}

#formulario{
    background-color: #04153b; 
    color:white;
}

#botao{
    background-color: #04153b; 
    color: white;
}

#checkbox{
    text-align: center;
}

.termo{
    color: white;
}

.divbot{
    text-align: center;
}